.wrapper {
  grid-column: span 1;
  height: 300px;
  text-transform: uppercase;
}

.title {
  color: #455172;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  position: relative;
}

.listOptions {
    list-style-type: none;
    padding: 0;
}