.wrapper {
  display: flex;
  margin-top: 10px;
  position: relative;
}

.percentageNumberWrapper {
  display: flex;
  margin-left: -6px;
  margin-top: 2px;
  width: 30px;
}

.percentageNumber {
  color: #172b4d;
  font-family: Roboto;
  font-size: 12px;
  margin: 0 auto;
}

.bar {
  background: #1d365213;
  border-radius: 10px;
  height: 7px;
  left: 35px;
  margin-top: 6px;
  position: absolute;
  width: calc(100% - 30px);
}

.filler {
  background: #5fb348;
  border-radius: 10px;
  height: 100%;
  transition: all 0.3 ease;
}
