@import '../../assets/scss/common.scss';

$font: Roboto;

.wrapper {
  background: #0000008e;
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  overflow-y: auto;
}

.card {
  background: #f4f5f7;
  border-radius: 2px;
  display: grid;
  grid-template-columns: 77% 23%;
  height: auto;
  margin: 45px auto;
  padding: 25px 20px;
  position: relative;
  width: 730px;
}

.header {
  grid-column: span 2;
  padding-left: 40px;
}

.listName {
  color: #172b4db9;
  font-family: $font;
  font-size: 14px;
  margin-left: 36px;
  span {
    text-decoration: underline;
    &:before {
      content: '\00a0';
      display: inline-block;
      text-decoration: none;
    }
    &:hover {
      cursor: pointer;
      color: #12223d;
    }
  }
}

.content {
  grid-column: span 1;
}

%description {
  min-height: 100px;
  margin: 10px 0 0 35px;
  width: calc(100% - 35px);
  box-sizing: border-box;
}

.descriptionParagraph {
  @extend %description;
  &:hover {
    cursor: pointer;
  }
}

.descriptionTextarea {
  @extend %description;
  margin: 3px 0px 0px 28px;
  width: calc(100% - 21px);
}

.percentageNumberWrapper {
  position: relative;
}

.percentageNumber {
  color: #172b4d;
  top: -4px;
  left: -36px;
  font-family: Roboto;
  font-size: 12px;
  position: absolute;
}

@media (max-width: 769px) {
  .card {
    margin: 40px auto;
    padding: 20px 10px;
    width: 90%;
  }

  .percentageNumber {
    display: none;
  }
}
