@import '../../assets/scss/common.scss';

$font: Roboto;

.wrapper {
  background: #0000008e;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  top: 0;
  width: 100%;
}

.card {
  background: #f4f5f7;
  border-radius: 2px;
  display: grid;
  grid-template-columns: 77% 23%;
  height: auto;
  margin: 45px auto;
  padding: 25px 20px;
  position: relative;
  width: 730px;
}

.header {
  grid-column: span 2;
  margin-bottom: 20px;
  margin-top: 10px;
}

.listNameWrapper {
  color: #172b4db9;
  font-family: $font;
  font-size: 14px;
  margin-left: 36px;

  .listName {
    text-decoration: underline;
    &:before {
      content: '\00a0';
      display: inline-block;
      text-decoration: none;
    }
    &:hover {
      color: #12223d;
      cursor: pointer;
    }
  }
}

.content {
  grid-column: span 1;
  display: inline-block;
}

.content > * {
  margin-bottom: 40px;
}

%description {
  box-sizing: border-box;
  min-height: 100px;
}

.descriptionParagraph {
  @extend %description;
  margin: 10px 0 10px 35px;
  width: calc(100% - 35px);

  &:hover {
    cursor: pointer;
  }
}

.descriptionTextarea {
  @extend %description;
  margin: 3px 0px -10px 28px;
  width: calc(100% - 21px);
}

.sideBar {
  grid-column: span 1;
}

@media (max-width: 769px) {
  .card {
    margin: 40px auto;
    padding: 20px 15px;
    width: 88%;
  }

  .content {
    grid-column: span 2;
  }

  .sideBar {
    grid-column: span 2;
  }
}
