$scrollbar-height: 12px;
$scrollbar-padding: 10px;
.wrapper {
  background: url('../../assets/images/background.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  width: 100%;
}

.boardWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.listsWrapper {
  display: inline-block;
  height: 100%;
  overflow-x: auto;
  padding-right: 10px;
  white-space: nowrap;
}

.listsWrapper * {
  white-space: normal;
}

.listsWrapper::-webkit-scrollbar {
  height: 32px;
}

.listsWrapper::-webkit-scrollbar-track,
.listsWrapper::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 10px solid transparent;
  padding: 10px;
}

.listsWrapper::-webkit-scrollbar-track {
  background-color: #0000004d;
  border-radius: 100px;
}

.listsWrapper::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 81%, 0.741);
  border-radius: 20px;
}

.listWrapper {
  outline: none;
  display: inline-block;
}