.wrapper {
	background: url("../../assets/images/background.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 127%;
	height: 100%;
	position: absolute;
	width: 100%;
}
