$hoverColor: #f0f0f0;
$checkedColor:#0078da;
$activeColor: #578ebb;

.checkbox {
  appearance: none;
  background: #ffffff;
  border: 1.5px solid #d4d4d4;
  border-radius: 2px;
  outline: none;
  padding: 8px;
  position: relative;
  
  &:hover {
    background: $hoverColor;
    cursor: pointer;
  }
  &:checked {
    background: $checkedColor;
    border-color: $checkedColor;
  }

  &:active {
    background: $activeColor;
    border-color: $activeColor;
  }

  &:checked:after {
    color: #ffffff;
    content: '\2713';
    font-size: 14px;
    left: 2.5px;
    position: absolute;
    top: 0px;
  }
}
