@import "../../assets/scss/common.scss";

.link {
  text-decoration: none;
  &:hover .editIcon {
    visibility: visible;
  }
}

%wrapper {
  @extend %cardBox;
  height: auto;
  margin: 0px 0px 10px 0px;
  padding: 10px 9px 10px 9px;
  position: relative;
}

.cardLabelWrapper {
  @extend %wrapper;
  &:hover {
    background-color: rgb(248, 248, 248);
  }
}

.title {
  line-height: 20px;
  margin: 0;
}

.editIcon {
  background: rgba(248, 248, 248, 0.548);
  border-radius: 2px;
  padding: 5px 7px 5px 7px;
  position: absolute;
  right: 3px;
  top: 3px;
  visibility: hidden;
  & > * {
    color: rgb(24, 50, 99);
    font-size: 12px;
  }
  &:hover {
    background: rgb(235, 236, 240)
  }
  &:active {
    background: rgb(217, 218, 223)
  }
}

.cardEditingWrapper {
  position: relative;
  z-index: 11;
}

.textareaWrapper {
  @extend %wrapper;
}

.saveButton {
  border-radius: 3px;
  padding: 9px 22px 8px 22px;
  position: absolute;
}

.titleTextarea {
  border: 0;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  resize: none;
  width: 100%;
}

.blurScreen {
  background-color: rgba(0, 0, 0, 0.295);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 10;
}

.dragging {
  box-shadow: 0px 10px 15px -2px rgba(92, 92, 92, 0.24);
  transform: rotate(5deg);
}