.wrapper {
  display: flex;
  margin-top: 10px;
}

.percentageNumberWrapper {
  position: relative;
  margin-left: -2px;
  margin-right: 13px;
}

.percentageNumber {
  color: #172b4d;
  font-family: Roboto;
  font-size: 12px;
}

.bar {
  background: #1d365213;
  border-radius: 10px;
  height: 7px;
  margin-top: 6px;
  width: 100%;
}

.filler {
  background: #5fb348;
  border-radius: 10px;
  height: 100%;
  transition: all 0.3 ease;
}
